# Laravel
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# IDE
/.fleet
/.idea
/.vscode

# OS
.DS_Store
Thumbs.db

# Logs
/storage/logs/*.log

# Backups et anciens fichiers
*.backup
*.old
*.bak
routes/web.php.backup
resources/views/**/*.backup

# Cache
/bootstrap/cache/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# Tests
/phpunit.xml
/.phpunit.cache
